# PostgreSQL database connection
DATABASE_URL=postgresql+psycopg2://postgres_ai:postgres@localhost:5432/postgres_ai

# API keys (optional for later days)
NEWS_API_KEY=c9191e7487794ac39e4df2d303df6bad
LANGFUSE_API_KEY=

LANGFUSE_PUBLIC_KEY=pk-lf-1c5e6709-d606-4457-a920-e828731adb03
LANGFUSE_SECRET_KEY=sk-lf-6afd1e81-1141-4aca-a14a-a9eb8a109db1
LANGFUSE_HOST=https://cloud.langfuse.com
PROJECT_NAME=ai-stock-analysis

X-API-KEY: <your_api_key>

API_KEY=super-secret-prod-key

GEMINI_API_KEY=AIzaSyC0icVqiD-ybB6FxCJXeU_Xwxh1Ouq2WM4
SENTIMENT_LLM_PROVIDER=gemini
GEMINI_MODEL=gemini-1.5-flash
